@font-face {
  font-family: "CormorantGaramondRegular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CormorantGaramondSemibold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "CormorantGaramondBold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/CormorantGaramond-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CirceRegular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CirceBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CirceLight";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Circe-Light.woff") format("woff"), url("../fonts/Circe-Light.ttf") format("truetype");
}
