$font-main: "CirceLight", "Arial", sans-serif;
$font-title: "CormorantGaramondRegular", "Arial", serif;

$width-tablet: 768px;
$width-desktop: 1300px;
$width-mobile-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-accent: #ffa38c;
