$color-accent: #ffa38c;

.checkbox {
  cursor: pointer;
  display: block;
  padding-left: 25px;
}
  
.checkbox__input {
  cursor: pointer;

  &:checked {
    & ~ .checkbox__custom {
      border-color: $color-accent;
      background-color: $color-accent;

      &:after {
          display: block;
      }
    }
  }
}

.checkbox__input__text {
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

.checkbox__text {
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

.jq-checkbox, .jq-radio {
  box-shadow: none;
  background: #fff;
  width: 14px;
  height: 14px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  vertical-align: -3px;

  &.checked {
    background: $color-accent;
    
    .jq-checkbox__div, .jq-radio__div {
      border-color: #fff;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #fff;
      margin: 3px 0 0 2px;
    }

    .jq-radio__div {
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      border-color: #fff;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #fff;
      margin: 3px 0 0 2px;
      width: 8px;
      height: 4px;
      transform: rotate(-50deg);
    }
  }
}
