$color-accent: #ffa38c;

.filter-slider__values {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.filter-slider__values-line {
  background-color: #333333;
  height: 1px;
  flex-shrink: 0;
  margin: 0 10px;
  width: 16px;
}

.filter-slider__value {
  width: 80px;
}

.filter-slider__line {
  &.noUi-target {
    height: 2px;
    background: #ededed;
    border: 0 none;
    box-shadow: none;
  }

  .noUi-connect {
    background: $color-accent;
  }

  .noUi-handle {
    box-shadow: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid $color-accent;
    background: $color-accent;
    cursor: pointer;

    &::before, &::after {
      display: none;
    }
  }
}
