$font-main: "CirceLight", "Arial", sans-serif;
$font-title: "CormorantGaramondRegular", "Arial", serif;
$color-accent: #ffa38c;

$width-tablet: 768px;
$width-desktop: 1300px;
$width-mobile-only: 767px;

.filter {
  min-width: 100%;
  background-color: #f5f5f5;
  border-radius: 3px;
  height: max-content;
  padding: 0 15px 15px;
  margin-bottom: 40px;
  
  @media (min-width: 810px) {
    margin-right: 20px;
    min-width: 240px;
  }

  @media (min-width: $width-desktop) {
    min-width: 300px;
  }
}

.filter__header {
  padding: 5px 15px;
  padding-bottom: 0;
  cursor: pointer;

  &--active {
    .filter__title {
      &::after {
        transform: rotate(315deg);
        bottom: 3px;
      }
    }
  }

  @media (min-width: 810px) {
    pointer-events: none;
  }
}

.filter__body-wrapper {
  border-top: 1px solid #dedede;
  margin-top: 15px;
}

.filter__body {
  border-bottom: 1px solid #dedede;
}

.filter__title {
  font-size: 22px;
  line-height: 28px;
  margin: 10px auto 0;
  width: 150px;
  text-align: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #bababa;
    border-bottom: 1px;
    border-left: 2px;
    border-radius: 1px;
    box-sizing: border-box;
    right: 10px;
    bottom: 9px;
    transition: .3s;
    transform: rotate(135deg);

    @media (min-width: 810px) {
      display: none;
    }
  }

  &:hover::after {
    border-color: darken(#bababa, 25%);
  }
}

.filter__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  
  & > * {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  
  @media (min-width: 810px) {
    justify-content: space-around;
  }
}

.filter__footer-show {
  display: inline-block;
  width: 150px;
  color: #ffffff;
  text-align: center;
  background-color: $color-accent;
  border: 1px solid $color-accent;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
  font-size: 16px;

  &:hover {
    background-color: darken($color-accent, 10%);
    border-color: darken($color-accent, 10%);

    .filter__footer-showbtn {
      background-color: darken($color-accent, 10%);
      border-color: darken($color-accent, 10%);  
    }
  }
}

.filter__footer-skip {
  text-align: center;
  background-color: transparent;
  border: 0 none;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
  font-family: $font-main;
  font-size: 16px;

  &:hover {
    color: $color-accent;
  }
}
