$color-accent: #ffa38c;

.filter-item {
  padding: 15px;
  border-bottom: 1px solid #dedede;

  &:last-child {
    border-bottom: 0 none;
  }

  &--active {
    .filter-item__header {
      &::after {
        transform: rotate(315deg);
        top: 8px;
      }
    }
    
    .filter-item__body {
      display: block;
    } 
  }
}

.filter-item__header {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border: 2px solid #bababa;
    border-bottom: 1px;
    border-left: 2px;
    border-radius: 1px;
    box-sizing: border-box;
    right: 0;
    top: 4px;
    transition: .3s;
    transform: rotate(135deg);
  }

  &:hover::after {
    border-color: darken(#bababa, 25%);
  }
}

.filter-item__title {
  margin: 0;
}

.filter-item__body {
  display: none;
  margin-top: 12px;
}

.filter-item {
  &--price {
    .filter-item__body {
      padding-top: 10px;
    }
  }
}

.filter-item__product-type {
  margin-bottom: 8px;
}

.filter-item__color {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 285px;

  & .filter-item__product-type {
    width: 115px;
  }
}

.irs {
  &--flat {

    .irs-line {
      height: 3px;
      border-radius: 3px;
    }
    
    .irs-bar {
      height: 3px;
      background-color: $color-accent;
    }
    
    .irs-single {
      background-color: $color-accent;
      font-size: 12px;

      &::before {
        border-top-color: $color-accent;
      }
    }

    .irs-handle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color-accent;
      
      & > i {
        &:first-child {
          background-color: transparent;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    .irs-min, .irs-max {
      font-family: "CirceRegular", "Arial", sans-serif;
      font-size: 12px;
    }
  
    .irs-from, .irs-to {
      font-size: 12px;
      font-family: "CirceRegular", "Arial", sans-serif;
      background-color: $color-accent;
  
      &::before {
        border-top-color: $color-accent;
      }
    }
  }
}

.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
  background-color: $color-accent;
}
