$width-tablet: 768px;
$width-desktop: 1300px;
$width-mobile-only: 767px;

.header {
  transition: all .4s ease;
  width: 100%;

  @media (max-width: 899px) {
    min-height: 82px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
  padding: 10px 0 5px;
  min-height: 82px;

  @media (min-width: $width-tablet) {
    flex-wrap: nowrap;
  }
}

.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.header__logo {
  @media (max-width: 899px) {
    order: 2;
    margin: 0 auto;
  }
}

.header__nav-toggle {
  &--open {
    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      top: 0;
      left: 0;
      background-color: #222222;
      box-shadow: 0 8px 0 0 rgb(34, 34, 34), 0 16px 0 0 rgb(34, 34, 34);
    }
  }

  &--close {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      top: 8px;
      left: 0;
      background-color: #222222;
    }
    
    &::before {
      transform: rotate(45deg);
    }
    
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.header__nav-toggle {
  position: relative;
  z-index: 2;
  display: inline-block;
  top: 13px;
  left: 0;
  padding: 0;
  border: 0 none;
  font: inherit;
  width: 25px;
  height: 22px;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s;
  outline: none;
  margin-top: 18px;

  &--nojs {
    display: none;
  }

  @media (min-width: 900px) {
    display: none;
  }
}

.header__mobile-menu {
  width: 100%;
}
