$color-accent: #ffa38c;

.header-search {
  width: 30px;
  height: 30px;
  transition: .5s;
  padding-top: 4px;

  &:hover {
    background-color: #ffffff;
  }
}

.header-search__icon {
  cursor: pointer;
  width: 22px;
  height: 22px;
  transition: .3s;

  &--active {
    display: none; 
  }
}

.header-search__button {
  background: none;
  box-shadow: none;
  border: 0 none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  appearance: none;
  position: relative;
  z-index: 2;
  width: 17px;
  display: none;

  &--active {
    display: block; 

    .header-search__button-icon {
      background-color: $color-accent;
    }
  }
}

.header-search__textfield {
  width: 170px;
  padding: 5px 45px 5px 10px;

  box-sizing: border-box;
  border: 2px solid $color-accent;
  appearance: none;
  line-height: 16px;
  border-radius: 2px;
  position: absolute;
  top: -5px;
  left: -135px;
  opacity: 0;
  z-index: -1;
  transition-duration: .5s;
  transition-property: opacity;
  text-transform: lowercase;

  &--active {
    opacity: 1;
    z-index: 1;
  }
}
