.logo__image {
  @media (max-width: 420px) {
    width: 100px;
    height: 55px;
    margin-top: 7px;
  }

  @media (min-width: 500px) and (max-width: 899px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: 900px) and (max-width: 999px) {
    margin-top: 15px;
    width: 100px;
    height: 55px;
  }
}
// 15 9 22