.sorting-pages {
  display: flex;

  @media (max-width: 459px) {
    margin-left: auto;
  }
}

.sorting-pages__title {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.sorting-pages__counter-current {
  padding-left: 6px;
  font-family: "CirceBold", "Arial", sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.sorting-pages__counter-of {
  font-size: 14px;
}

.sorting-pages__counter-total {
  font-family: "CirceRegular", "Arial", sans-serif;
  font-size: 13px;
}
