$color-accent: #ffa38c;

.sorting-show {
  display: flex;
  margin-right: 30px;

  @media (max-width: 459px) {
    margin-left: auto;
    margin-right: 0;
  }
}

.sorting-show__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.sorting-show__list {
  display: flex;
}

.sorting-show__btn {
  transition: .3s;
  width: auto;
  padding-bottom: 10px;
  padding-right: 2px;
  font-size: 13px;
  font-family: "CirceBold", "Arial", sans-serif;
  border: 0 none;
  background-color: transparent;
  text-align: left;
  text-transform: lowercase;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $color-accent;
  }

  &:focus-within {
    color: $color-accent;
  }

  &--current {
    color: $color-accent;
  }
}
