$width-tablet: 768px;
$width-desktop: 1300px;
$width-mobile-only: 767px;

.main-inner__content {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;

  @media (min-width: 810px) {
    flex-wrap: nowrap;
  }
}