$color-accent: #ffa38c;

$width-tablet: 768px;
$width-desktop: 1300px;
$width-mobile-only: 767px;

.offer__wrapper {
  display: block;
  width: 100%;
  height: 300px;
  margin-bottom: 38px;
  color: #ffffff;

  &:hover .offer__link {
    background-color: darken($color-accent, 10%);
    border-color: darken($color-accent, 10%);
  }

  &:focus-within {
    & .offer__link {
      background-color: darken($color-accent, 7%);
      border-color: darken($color-accent, 7%);  
    }
  }

  @media (min-width: 560px) {
    height: 350px;
  }

  @media (min-width: $width-tablet) {
    height: 400px;
  }

  @media (min-width: 930px) {
    height: 450px;
  }
}

.offer__image {
  z-index: -1;
  position: absolute;
  height: 300px;
  width: 100%;

  @media (min-width: 560px) {
    height: 350px;
  }

  @media (min-width: $width-tablet) {
    height: 400px;
  }

  @media (min-width: 930px) {
    height: 450px;
  }
}

.offer__title {
  padding-top: 78px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 40px;
  line-height: 20px;
  margin-top: 0;

  @media (min-width: 440px) {
    font-size: 40px;
  }
  
  @media (min-width: 560px) {
    padding-top: 102px;
    margin-bottom: 30px;
  }

  @media (min-width: $width-tablet) {
    font-size: 46px;
    padding-top: 128px;
  }

  @media (min-width: 930px) {
    padding-top: 152px;
  }
}

.offer__text {
  width: 250px;
  max-height: 100px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto 15px;
  font-size: 15px;
  font-family: "CirceRegular", "Arial", sans-serif;

  @media (min-width: 350px) {
    width: 310px;
  }

  @media (min-width: 400px) {
    width: 330px;
    font-size: 16px;
  }

  @media (min-width: 440px) {
    font-size: 17px;
    width: 400px;
  }

  @media (min-width: $width-tablet) {
    font-size: 19px;
    margin-bottom: 20px;
    max-height: 125px;
  }
}

.offer__link {
  width: 220px;
}
