$color-accent: #ffa38c;

$width-tablet: 768px;
$width-desktop: 1300px;
$width-mobile-only: 767px;

.popular__wrapper {
  background-color: #ffffff;
  padding-top: 20px;
  margin-bottom: 50px;
}

.popular__title {
  margin: 0;
}

.popular__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 20px;
  width: 225px;
  min-width: 0;

  & .slick-list {
    overflow: hidden;
  }

  & .slick-dots {
    bottom: -5px;
  }

  & .products-categories__arrow {
    top: 48%;
    transform: translateY(-50%);
  }

  & .products-categories__arrow-prev {
    left: -25px;
  }

  & .products-categories__arrow-next {
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
  }

  @media (min-width: 350px) {
    width: 278px;
  }

  @media (min-width: 640px) {
    width: 550px;
  }  
  
  @media (min-width: 885px) {
    width: 800px;
  }

  @media (min-width: 1105px) {
    width: 1000px;
  }
}

.popular__all {
  width: 240px;

  @media (max-width: 420px) {
    width: 200px;
  }
}
