$color-accent: #ffa38c;

$width-tablet: 768px;
$width-desktop: 1300px;
$width-mobile-only: 767px;

.products {
  &.catalog {
    position: relative;
  }
}

.products__item {
  background-color: #f5f5f5;
  width: 225px;
  max-width: 270px;
  min-height: 345px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  margin: 0 0 20px;
  
  &:hover, &:focus-within {
    .products__item-cart {
      opacity: 1;
    }

    .products__item-image {
      @media (min-width: 1200px) {
        transform: scale(1.08);
      }
    }
  }

  @media (min-width: 350px) {
    width: 270px;
    margin: 0 15px 20px;
  }

  @media (min-width: 640px) {
    width: 245px;  
  }

  @media (min-width: 885px) {
    width: 238px;  
  }

  @media (min-width: 1105px) {
    width: 223px;
  }
}

.products__image-wrapper {
  width: 210px;
  height: 240px;
  display: flex;
  width: 100%;
}

.products__item-image {
  margin: 0 auto 0 0;
  align-self: center;
  transition: all .6s;
  object-fit: contain;
  text-align: center;
}

.products__item-wrapper {
  height: 200px;
  position: relative;
}

.products__item-link {
  height: 200px;
  position: relative;
  display: block;

  &--sale {
    &::before {
      content: "СКИДКА";
      position: absolute;
      top: 0;
      left: 0;
      font-size: 13px;
      color: #fff;
      font-family: "CirceRegular";
      letter-spacing: .3px;
      text-transform: uppercase;
      background-color: $color-accent;
      width: 75px;
      height: 30px;
      padding: 10px;
    }
  } 
}

.products__item-title {
  width: 160px;
  min-height: 45px;
  max-height: 46px;
  text-align: center;
  font-size: 15px;
  margin: 0 auto 10px;
  font-family: "CirceRegular", "Arial", sans-serif;
  overflow: hidden;
}

.products__item-price {
  max-width: 170px;
  font-family: "CirceRegular", "Arial", sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
}

.products__item-cartwrap {
  position: absolute;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 5;
}

.products__item-cart {
  position: absolute;
  border: 0 none;
  cursor: pointer;
  padding: 11px 10px 10px 40px;
  background-color: $color-accent;
  width: 130px;
  transition: 0.3s;
  
  &.products__notavailable {
    padding: 11px 10px 10px 18px;
  }
  
  &:hover {
    background-color: darken($color-accent, 10%);
  }
  
  @media (min-width: $width-desktop) {
    opacity: 0;
  } 
}

.products__item-fav {
  left: 17px;
  top: 193px;
  width: 40px;
  height: 38px;

  &--active {
    & .products__item-favimage {
      fill: #ed4956;
    }
  }

  .products__cart-text {
    font-size: 0;
  }

  @media (min-width: 350px) {
    left: 25px;
  }

  @media (min-width: 885px) {
    left: 21px;
  }

  @media (min-width: 1105px) {
    left: 15px;
  }
}

.products__item-favimage, .products__item-basketimage {
  position: absolute;
  left: 14px;
  top: 8px;
  width: 22px;
  fill: #272424;
}

.products__item-basketimage {
  left: 13px;
}

.products__item-basket {
  left: 78px;
  right: 0;
  top: 193px;

  & .products__cart-text {
    position: relative;
  }

  &.products__notavailable .products__cart-text {
    display: none;
  }

  &.products__notavailable .products__notavailable-text {
    display: block;
  }

  @media (min-width: 350px) {
    left: 89px;
  }

  @media (min-width: 885px) {
    left: 85px;
  }

  @media (min-width: 1105px) {
    left: 75px;
  }
}

.products__notavailable {
  cursor: default;

  &:hover {
    background-color: $color-accent;
  }

  & .products__item-basketimage {
    display: none;
  }
}

.products__notavailable-text {
  display: none;
  font-size: 15px;
  color: #fff;
  width: 100px;
  line-height: 17px;
}

.products__cart-text {
  display: block;
  width: 70px;
  margin: 0 auto;
  position: relative;
  color: #ffffff;
  font-family: "CirceLight", "Arial", sans-serif;
  font-size: 15px;
}
