$color-accent: #ffa38c;

$width-tablet: 768px;
$width-desktop: 1300px;
$width-mobile-only: 767px;

.product__about-wrapper {
  margin-top: 5px;

  @media (min-width: 850px) {
    margin-top: 30px;
  }
}

.product__about {
  display: flex;
  flex-direction: column;

  @media (min-width: 850px) {
    flex-direction: row;
  }
}

.product__images-wrapper {
  width: 100%;
  margin-right: 30px;
  order: 2;
  
  @media (min-width: 850px) {
    order: 0;
    width: 500px;
  }

  &--sale {
    position: relative;

    & .product__image-wrapper {
      &::before {
        content: "СКИДКА";
        position: absolute;
        top: 22px;
        left: 31px;
        font-size: 15px;
        color: #fff;
        font-family: "CirceRegular";
        letter-spacing: .3px;
        text-transform: uppercase;
        background-color: $color-accent;
        ;
        width: 95px;
        height: 40px;
        padding: 14px 15px;
        z-index: 5;

        @media (min-width: 850px) {
          left: 26px;
        } 
  
        @media (min-width: 935px) {
          left: 75px;
        } 

        @media (min-width: 1070px) {
          left: 58px; 
        }
        
        @media (max-width: 849px) {
          display: none;
        } 
      } 
    }
  }
  
  @media (min-width: 935px) {
    width: 600px;
  }

  @media (min-width: 1070px) {
    width: 700px;
    margin-right: 65px;
  }
}

.product__images {
  display: flex;
  height: auto;

  .slick-slide {
    overflow:hidden;
    position: relative;
    z-index:999;
  }

  .slick-list {
    order: 2;
    
    @media (min-width: 850px) {
      margin-left: 34px;
    }
  }

  .slick-list img {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    
    @media (min-width: 400px) {
      width: 300px;
      height: 375px;
    }

    @media (min-width: 1070px) {
      width: 400px;
      height: 475px;
    }
  }

  .slick-dots {
    display: flex;
    text-align: left;
    bottom: 0;

    @media (min-width: 850px) {
      display: block;
      position: relative;
    }

    li {
      width: 25%;
      object-fit: cover;
      display: block;
      margin: 10px;
      margin-bottom: 0;
      margin-top: 2px;
      height: auto;
      padding: 10px;
      cursor: pointer;

      img {
        width: 75px;
        height: 105px;
        border-radius: 2px;
        transition: .3s;
        padding: 10px;
        object-fit: cover;
        border: 1px solid rgba(0, 0, 0, 0.05);

        @media (min-width: 1070px) {
          width: 110px;
          height: 140px;
        }
      }

      &:hover {
        img {
          border-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  
  @media (min-width: 850px) {
    width: 500px;
  }

  @media (min-width: 935px) {
    width: 600px;
  }

  @media (min-width: 1070px) {
    width: 700px;
  }
}

.product__image-wrapper {
  position: relative;
}

.product__image-arrow {
  padding: 0 15px;
  display: inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 46%;
  cursor: pointer;
  z-index: 2;
  transition: .5s;
  background-color: transparent;
  border: 0 none;
  background-size: 35px;
  background-repeat: no-repeat;

  &--prev {
    left: 0;
    background-image: url(../img/icon-arrow.svg);
    order: 2;

    @media (min-width: 850px) {
      left: 138px;
    }

    @media (min-width: 935px) {
      left: 166px;
    }
  }

  &--next {
    right: 0;
    background-image: url(../img/icon-arrow.svg);
    transform: rotate(180deg);

    @media (min-width: 850px) {
      right: -10px;
    }

    @media (min-width: 935px) {
      right: 17px;
    } 

    @media (min-width: 1070px) {
      right: -20px;
    }
  }
}

.product__description-wrapper {
  & .products__item-cartwrap {
    position: relative;
    margin-bottom: 15px;
  }
  
  & .products__item-cart {
    top: 0;
    left: 0;
    position: relative;
    
    @media (min-width: $width-desktop) {
      opacity: 1;
    } 
  }

  & .products__item-basket {
    left: 15px;
  }
}

.product__description-title {
  font-size: 32px;
  margin: 15px 0;
}

.product__description-header {
  font-size: 16px;
}

.product__description-text {
  &:not(:last-child) {
    &::after {
      content: ",";
    }
  }
}

.product__description-code {
  margin-top: 8px;
}

.product__description-codenumber {
  font-family: "CirceRegular", "Arial", sans-serif;
}

.rate-yo {
  display: inline-block;
  z-index: 1;
}

.jq-ry-container {
  padding: 5px 5px 0;
}

.product__description-price {
  font-family: "CirceRegular", "Arial", sans-serif;
  font-size: 30px;
  margin: 25px 0 15px;

  &.product__price-old {
    font-size: 22px;
    position: relative;
    color: #2F3035;
    display: inline-block;
    margin-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid #2F3035;
      width: 100%;
      top: 45%;
      transform: translateX(-50%);
      transform: rotate(-11deg);
    }
  }

  &.product__price-new {
    margin-top: 20px;
  }
}

.product__description-availability {
  position: relative;
  min-height: 35px;
  width: 120px;

  &--false + .product__cartwrap .product__cart--basket {
    display: none;
  }
}

.product__availability {
  position: absolute;
  width: 120px;
  font-size: 16px;
  padding-bottom: 10px;

  &--true {
    &::before {
      content: "В наличии";
    }
  }

  &--false {
    &::before {
      content: "Нет в наличии";
    }
  }
}

.product__cartwrap {
  display: flex;
  margin-bottom: 20px;
}

.product__cart {
  position: relative;
  border: 0 none;
  border-radius: 2px;
  cursor: pointer;
  padding: 13px 10px 13px 40px;
  background-color: $color-accent;
  width: 130px;
  transition: .3s;
  margin-right: 15px;

  &:hover {
    background-color: darken($color-accent, 10%);
  }

  &::before {
    content: '';
    position: absolute;
  }

  &--fav {
    width: 40px;
    height: 44px;

    .product__cart-text {
      font-size: 0;

      &::before {
        background-image: url(../img/icon-favorites.svg);
      }
    }
  }

  &--basket {
    .product__cart-text {
      &::before {
        background-image: url(../img/icon-basket.svg);
      }
    }
  }
}

.product__cart-text {
  display: block;
  width: 70px;
  margin: 0 auto;
  position: relative;
  color: #ffffff;
  font-family: "CirceLight", "Arial", sans-serif;
  font-size: 15px;

  .product-details {
  padding-bottom: 20px;
}

  &::before {
    content: '';
    position: absolute;
    background-size: 19px;
    background-repeat: no-repeat;
    top: -1px;
    left: -25px;
    width: 19px;
    height: 19px;
  }
}

.product__card {
  margin-top: 20px;
}

.product__tabs-wrapper {
  background-color: #f5f5f5;
  min-height: 70px;
  border-radius: 2px;
  padding: 24px 0;
  text-align: center;
}

.product__tab {
  font-size: 20px;
  line-height: 24px;
  transition: all .3s ease;
  outline: none;
  display: block;
  border: 0 none;
  margin-bottom: 0;
  
  &:not(:last-child) {
    margin-bottom: 15px;

    @media (min-width: 410px) {
      margin-bottom: 0;
    }
  }
  
  & + .product__tab {
    @media (min-width: 410px) {
      margin-left: 40px;
    }

    @media (min-width: 650px) {
      margin-left: 80px;
    }
  }

  @media (min-width: 410px) {
    background-image: linear-gradient($color-accent, $color-accent);
    background-size: 0 3px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  
  &:hover, &--active {
    .product__tab-title {
      @media (max-width: 409px) {
        background-size: 100% 3px, auto;
        padding-bottom: 2px;
      }
    }

    @media (min-width: 410px) {
      background-size: 100% 3px, auto;
      padding-bottom: 2px;
    }
  }
  
  &:focus-within {
    .product__tab-title {
      @media (max-width: 409px) {
        background-size: 100% 3px, auto;
      }
    }

    @media (min-width: 410px) {
      background-size: 100% 3px, auto;
    }
  }
  
  &--active {
    .product__tab-title {
      display: inline-block;
      padding-bottom: 2px; 
    }
  }
  
  @media (min-width: 410px) {
    display: inline-block;
  }
}

.product__tab-title {
  transition: all .3s ease;
  outline: none;
  padding-bottom: 2px;
  border: 0 none;
  background-image: none;
  margin-bottom: 0;
  
  @media (max-width: 409px) {
    background-image: linear-gradient($color-accent, $color-accent);
    background-size: 0 3px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}

.product__card-item {
  display: none;
  margin: 30px 0;
  
  &--active {
    display: block;
  }
}

.product__details-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  
  @media (min-width: 1160px) {
    width: 100%;
    margin: 0;
  } 
  
  @media (max-width: 1047px) {
    max-width: 710px;
  }
}

.product__details-item  {
  min-width: 185px;
  
  &:nth-child(3n) {
    margin-right: 0;
  }
  
  @media (min-width: 450px) {
    margin-right: 15px;
  }

  @media (min-width: 1160px) {
    margin-right: 70px;
  }
  
  @media (min-width: 1048px) {
    max-width: 580px;
  }
}

.product__map-text {
  text-align: center;
}
